<!doctype html>
<html class="no-js" ng-app="MapApp">
<head>
    <meta charset="utf-8">
    <title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="animals.css">
<script type="text/javascript" src="bower_components/jquery.min.js">

</script>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet"> 
</head>
<body>
  <%-defineContent('login')%>
 <div class="container">
  <%-defineContent('map')%>
  <%-defineContent('local-login')%>
  <%-defineContent('profile')%>
  <%-defineContent('animal')%>
  </div>
</body>
</html>  
