<%- contentFor('animal') %>
<div class="container">
<div class="col-md-8">
<div class="container" style="margin-top: 5%;">
    <div class="card" style="width: 50%;">
      <img class="card-img-top" style="height: 300px" src="/uploads/<%= animal.img.data %>" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Tipo: <%= animal.tipo %></h4>
        <h4 class="card-title">Idade (aprox): <%= animal.idade %></h4>
        <h4 class="card-title">Sexo: <%= animal.genero %></h4>
        <h4 class="card-title">Informações: <%= animal.descricao %></h4>
        <br>
        <hr>
        <div class="text-center"><a href="#" class="btn btn-primary"><h4><i class="fa fa-facebook" aria-hidden="true"></i> Compartilhar!</h4></a></div>
      </div>
    </div> 
</div>	
</div> 
</div>
